* {
    box-sizing: border-box;
}

:root {
  --bg: #f3f0ec;
  --color: #89510d;

  --border: #ff5a28;
}

::selection,
::-moz-selection {
  background: var(--color);
  color:var(--bg);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border: transparent;
}

/* INTER */
@font-face {
  font-family: 'inter';
  src: url('fonts/inter-regular.woff2') format('woff2'),
       url('fonts/inter-regular.woff') format('woff');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url('fonts/inter-italic.woff2') format('woff2'),
       url('fonts/inter-italic.woff') format('woff');
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: 'inter';
  src: url('fonts/inter-light.woff2') format('woff2'),
       url('fonts/inter-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url('fonts/inter-lightitalic.woff2') format('woff2'),
       url('fonts/inter-lightitalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

/* LIBERTINUS MONO */
@font-face {
  font-family: 'libertinus';
  src: url('fonts/libertinusmono.woff2') format('woff2'),
       url('fonts/libertinusmono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  /* font-family: 'fira mono', serif; */
  /* font-family: monospace; */
  /* font-family: 'cmu serif', serif; */
  font-family: 'inter', serif;
  /* font-family: 'dejavu sans', cursive; */
  /* font-family: 'crimson pro', serif; */
  /* font-family: 'cmu sans serif', serif; */
  /* font-family: 'cmu typewriter text', monospace; */
  /* font-weight:lighter; */
  letter-spacing: .5px;
  font-size: .85rem;
  line-height: 1.2rem;
  color: var(--color);
  background: var(--bg);
  overflow-x: hidden;
}

body {
  margin:0;
}

img {
  max-width: 100%;
  position: relative;
  z-index: 999;
}

p {
  margin: 10px 0;
}

h1, h2 {
  padding-left:calc(50% + 5px);
  /* margin-top:0; */
  margin:0;
  font-weight: normal;
  display: block;
  font-size: 1.2rem;
  /* line-height: 1.8rem; */
}

h2 {
  font-size: 1rem;
  line-height: 1rem;
}


.grid {
  border-collapse: collapse;
  width:100%;
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  /* filter: drop-shadow(1px 1px 0px #ffffff); */
  /* mix-blend-mode: color-dodge; */
  mix-blend-mode: screen;
  /* mix-blend-mode: lighten; */
  /* mix-blend-mode: plus-lighter; */
  opacity:.4;
  pointer-events: none;
  /* z-index: 9; */
  transition:opacity .2s;
}

.grid.active {
  mix-blend-mode: plus-lighter;
  mix-blend-mode: screen;
  opacity:1;
}

.grid td, .grid th {
  border: 10px solid var(--border);
}

main {
  /* display: flex; */
  height:100vh;
  overflow-y: auto;
  overflow-y: overlay;
  scrollbar-gutter: stable;
}

main.lightbox {
  overflow: hidden;
}

section {
  padding:0 10px;
  /* width:50%; */
  /* text-align: justify; */
  display: flex;
  flex-wrap: wrap;
  /* gap:15px; */
  justify-content: space-between;
  /* padding-top:calc(33.33333vh - 91px); */
  padding-bottom:50px;
  /* background:pink; */
}

section.text .header {
  height:calc(33.333vh - 47px);
  /* background:lightblue; */
  margin-bottom:30px;
  margin-bottom:10px;
  padding-bottom:25px;
  display:flex;
  flex-direction: column;
  /* align-items: flex-end; */
  justify-content: flex-end;
}

section.text .header h2 {
  margin-top:.3rem;
}

section.text p,
section.text div {
  width:calc(50% - 5px);
}

section.text p.full,
section.text div.full {
  width:100%;
  padding:0 calc(25% + 2.5px);
}

section.text p:first-of-type {
  margin-top:0;
}

.t-s {
  display: block;
  /* font-weight: bolder; */
  
  /* letter-spacing: 1px; */
  margin-bottom:.3rem;
  /* font-size: 1.1rem; */
  /* font-weight: bolder; */
}

section.text .links {
  margin:0;
  padding:0;
  /* list-style-position: outside; */
  list-style: none;
  position: relative;
  /* left:-8px; */
}

section.text .links li {
  /* padding-left:10px; */
  margin-bottom:.2rem;
}

section.gallery {
  padding-top:0;
  /* padding-top:calc(33.33333vh - 37px); */
  gap:10px;
  margin-bottom:10px;
  padding-right:calc(25% + 7px);
}

section.gallery div {
  width: calc(33.3333333% - 7px);
  /* padding:10px; */
  display: flex;
  height:calc(33.3333vh - 47px);
  justify-content:center;
  align-items:center;
  /* border:1px solid; */
  /* margin-bottom:10px; */
}

section.gallery div img {
  max-height:90%;
  max-width:90%;
  cursor:zoom-in;
}

section.gallery div.inactive {
  opacity:0;
  pointer-events: none;
}

section.gallery div.active {
  width:100%;
  height:calc(100vh - 120px);
  justify-content:center;
  align-items:center;
  position:fixed;
  top:60px;
  left:0;
  opacity:1;
  z-index: 9;
  
  padding-right:calc(25% + 7px);
  padding-left:10px;
  /* padding-right:10px; */
  /* padding-top:calc(33.33333vh - 91px);
  padding-bottom:50px; */
  pointer-events: none;
}

section.gallery div.active img {
  cursor:zoom-out;
  max-height:100%;
  max-width:100%;
  pointer-events: auto;
}

.lightbox-bg {
  /* background:lightcyan; */
  position: fixed;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  /* z-index: -1; */
  display:none;
}

.lightbox-bg.active {
  display:block;
  cursor:zoom-out;
}


.caption {
  align-self: flex-end;
}

.caption.left {
  text-align: right;
  padding-left:25%;
}

nav {
  /* position: sticky; */
  /* position: relative; */
  /* left:calc(25% + 5px); */
  /* top:10px; */
  top:0;
  padding:10px;
  /* min-height:25vh; */
  width:100%;
  height:60px;
  display: flex;
  /* background:var(--bg); */
  /* z-index: -1; */
  gap:10px;
}

nav div {
  width:25%;
  /* margin-right:5px; */
  /* background: var(--bg); */
  position: relative;
  display: flex;
  align-items: flex-start;
  align-items: flex-end;
  /* line-height: 1rem; */
}

nav div.title,
nav div.name,
.t-s,
h2 {
  font-family:'libertinus', 'inter';
  /* font-family:'libertinus mono'; */
  /* font-family:'crimson pro'; */
  /* font-family:'schola'; */
}

nav div.title {
  justify-content: flex-end;
  /* font-family:'luxi mono'; */
  /* font-family:'libertinus mono'; */
  /* font-weight:bolder; */
  
  /* font-family:'luxi', 'inter'; */
  letter-spacing: 1px;
  /* font-style: italic; */
  /* font-size: 1.4rem; */
  /* line-height: 1.4rem; */
  /* font-weight: bolder; */
}

nav div.name {
  justify-content: flex-start;
}


.float {
  position:fixed;
  top:35px;
  /* left:calc(75% + 2.5px); */
  right:0;
  width:25%;
  z-index: 9;
  padding:0 3px;
}

button {
  border:0;
  background:transparent;
  font-family: inherit;
  font-size: inherit;
  padding:0 auto;
  width:20px;
  color:inherit;
  cursor:pointer;
  /* display: block; */
  text-transform: uppercase;
  top:0;
  right:10px;
  position:absolute;
  font-weight:bolder;
}

button:hover {
  color:var(--bg);
  background:var(--color);
}

.grid-btn::after {
  content:'-';
}

.grid-btn.active::after {
  content:'+';
}

.ls {
  width:10%;
  display:none;
}

footer {
  display: flex;
  gap:10px;
  /* position: fixed; */
  bottom:0;
  top:auto;
  padding:10px;
  width:100%;
  height:60px;
}

footer div {
  width:25%;
  position: relative;
  display: flex;
  align-items: flex-start;
  /* align-items: flex-end; */
}

a {
  color:var(--text);
}

a:hover {
  background:var(--color);
  color:var(--bg);
}

nav a {
  text-decoration: none;
}

a.active {
  /* background:var(--color); */
  /* color:var(--bg); */
  text-decoration: underline;
}


summary {
  cursor: pointer;
  display: inline;
}

summary::selection {
  background: transparent;
  color: var(--color);
}

summary::after {
  content:' ▸';
}

details[open] summary::after {
  content:' ▾';
}

details ul {
  padding:0;
  list-style: none;
  margin-top:10px;
  padding-right:15px;
}

details ul li {
  margin-bottom:.3rem;
}


@media screen and (min-width:1650px) {
  section {
    padding: 0 210px;
    /* padding-top:calc(33.33333vh - 91px); */
    padding-bottom:50px;
  }

  section.gallery {
    padding-right: calc(25% + 107px);
  }

  section.gallery div.active {
    padding-right: calc(25% + 107px);
    padding-left: 210px;
  }
  
  nav {
    padding: 10px 210px;
  }

  .float {
    left:calc(75% - 100px);
    width:calc(25% - 100px);
  }

  .ls {
    width:200px;
    display:table-cell;
  }
}
