* {
    box-sizing: border-box;
}

:root {
  --bg: #f3f0ec;
  --color: #89510d;

  --border: #ff5a28;
}

::selection,
::-moz-selection {
  background: var(--color);
  color:var(--bg);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border: transparent;
}

/* INTER */
@font-face {
  font-family: 'inter';
  src: url('fonts/inter-regular.woff2') format('woff2'),
       url('fonts/inter-regular.woff') format('woff');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url('fonts/inter-italic.woff2') format('woff2'),
       url('fonts/inter-italic.woff') format('woff');
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: 'inter';
  src: url('fonts/inter-light.woff2') format('woff2'),
       url('fonts/inter-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url('fonts/inter-lightitalic.woff2') format('woff2'),
       url('fonts/inter-lightitalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

/* LIBERTINUS MONO */
@font-face {
  font-family: 'libertinus';
  src: url('fonts/libertinusmono.woff2') format('woff2'),
       url('fonts/libertinusmono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  /* font-family: 'fira mono', serif; */
  /* font-family: monospace; */
  /* font-family: 'cmu serif', serif; */
  font-family: 'inter', serif;
  /* font-family: 'dejavu sans', cursive; */
  /* font-family: 'crimson pro', serif; */
  /* font-family: 'cmu sans serif', serif; */
  /* font-family: 'cmu typewriter text', monospace; */
  /* font-weight:lighter; */
  letter-spacing: .5px;
  font-size: .9rem;
  line-height: 1.25rem;
  color: var(--color);
  background: var(--bg);
  overflow-x: hidden;
}

body {
  margin:0;
}

img {
  max-width: 100%;
  position: relative;
  z-index: 999;
}

p {
  margin: 10px 0;
  hyphens: auto;
}

h1, h2 {
  padding-left:calc(50% + 5px);
  /* margin-top:0; */
  margin:0;
  font-weight: normal;
  display: block;
  font-size: 1.3rem;
  line-height: 1.3em;
}

h2 {
  font-size: 1rem;
  line-height: 1rem;
}

h2,
nav div.title,
nav div.name,
.t-s,
.caption,
.fn,
.fig {
  font-family:'libertinus', 'inter', sans-serif;
  /* font-family:'libertinus mono'; */
  /* font-family:'crimson pro'; */
  /* font-family:'schola'; */
}


.grid {
  border-collapse: collapse;
  width:100%;
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  /* filter: drop-shadow(1px 1px 0px #ffffff); */
  /* mix-blend-mode: color-dodge; */
  mix-blend-mode: screen;
  /* mix-blend-mode: lighten; */
  /* mix-blend-mode: plus-lighter; */
  opacity:.4;
  pointer-events: none;
  /* z-index: 9; */
  transition:opacity .2s;
}

.grid.active {
  mix-blend-mode: plus-lighter;
  mix-blend-mode: screen;
  opacity:1;
}

.grid td, .grid th {
  border: 10px solid var(--border);
}

main {
  /* display: flex; */
  height:100vh;
  overflow-y: auto;
  overflow-y: overlay;
  scrollbar-gutter: stable;
}

main.lightbox {
  overflow: hidden;
}

section {
  padding:0 10px;
  /* width:50%; */
  /* text-align: justify; */
  display: flex;
  flex-wrap: wrap;
  /* gap:15px; */
  justify-content: space-between;
  /* padding-top:calc(33.33333vh - 91px); */
  padding-bottom:50px;
  /* background:pink; */
}

section.text .header {
  height:calc(33.333vh - 47px);
  /* background:lightblue; */
  margin-bottom:30px;
  margin-bottom:10px;
  padding-bottom:25px;
  display:flex;
  flex-direction: column;
  /* align-items: flex-end; */
  justify-content: flex-end;
}

section.text .header h2 {
  margin-top:.3rem;
}

section.text .heading {
  /* background:lightblue; */
  margin-bottom:30px;
  margin-bottom:10px;
  padding-top:35px;
  display:flex;
  flex-direction: column;
  /* align-items: flex-end; */
  justify-content: flex-end;
}

section.text p,
section.text div {
  width:calc(50% - 5px);
}

section.text p.full,
section.text div.full {
  width:100%;
  padding:0 calc(25% + 2.5px);
}

section.text div.full.image {
  position: relative;
  margin:10px 0;
}

section.text p:first-of-type {
  margin-top:0;
}

.t-s {
  display: block;
  /* font-weight: bolder; */
  
  /* letter-spacing: 1px; */
  margin-bottom:.3rem;
  /* font-size: 1.1rem; */
  /* font-weight: bolder; */
}

section.text .links {
  /* margin:0; */
  padding:0;
  /* list-style-position: outside; */
  list-style: none;
  position: relative;
  /* left:-8px; */
  
  margin: 0;
}

section.text .links li {
  /* padding-left:10px; */
  margin-bottom:.2rem;
}

section.gallery {
  padding-top:0;
  /* padding-top:calc(33.33333vh - 37px); */
  gap:10px;
  margin-bottom:10px;
  padding-right:calc(25% + 7px);
}

section.gallery div {
  width: calc(33.3333333% - 7px);
  /* padding:10px; */
  display: flex;
  height:calc(33.3333vh - 47px);
  justify-content:center;
  align-items:center;
  /* border:1px solid; */
  /* margin-bottom:10px; */
}

section.gallery div img {
  max-height:90%;
  max-width:90%;
  cursor:zoom-in;
}

section.gallery div .gallery-caption {
  position: fixed;
  right: 10px;
  bottom:60px;
  /* background: red; */
  width: calc(25% - 13px);
  display: none;
}

section.gallery div.inactive {
  opacity:0;
  pointer-events: none;
}

section.gallery div.active {
  width:100%;
  height:calc(100vh - 120px);
  justify-content:center;
  align-items:center;
  position:fixed;
  top:60px;
  left:0;
  opacity:1;
  z-index: 9;
  
  padding-right:calc(25% + 7px);
  padding-left:10px;
  /* padding-right:10px; */
  /* padding-top:calc(33.33333vh - 91px);
  padding-bottom:50px; */
  pointer-events: none;
}

section.gallery div.active img {
  cursor:zoom-out;
  max-height:100%;
  max-width:100%;
  pointer-events: auto;
}

section.gallery div.active .gallery-caption {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

.lightbox-nav {
  /* background:red; */
  display:none;
  position: fixed;
  right:10px;
  bottom:60px;
  width: calc(25% - 13px);
  z-index: 9;
}

.lightbox-nav.active {
  display: block;
}

.lightbox-nav.menu-open {
  display: none;
}

#prev::after {
  content:'prev';
}

#next::after {
  content:'next';
}

.lightbox-bg {
  /* background:lightcyan; */
  position: fixed;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  /* z-index: -1; */
  display:none;
}

.lightbox-bg.active {
  display:block;
  /* cursor:zoom-out; */
}


.caption {
  align-self: flex-end;
  font-size:.9rem;
  opacity:.7;
  font-size: 80%;
  line-height: 135%;
  /* padding-bottom:30px; */
}

.caption.left {
  /* text-align: right; */
  padding-left:25%;
}

.caption.full-c {
  /* position:absolute; */
  /* bottom:-40px; */
  /* right:25%; */
  /* width:25%; */
  width:100%;
  padding-right:2px;
  /* background-color: lightblue; */
  /* text-align: right; */
}

nav {
  /* position: sticky; */
  /* position: relative; */
  /* left:calc(25% + 5px); */
  /* top:10px; */
  top:0;
  padding:10px;
  /* min-height:25vh; */
  width:100%;
  height:60px;
  display: flex;
  /* background:var(--bg); */
  /* z-index: -1; */
  gap:10px;
}

nav div {
  width:25%;
  /* margin-right:5px; */
  /* background: var(--bg); */
  position: relative;
  display: flex;
  align-items: flex-start;
  align-items: flex-end;
  /* line-height: 1rem; */
}


nav div.title {
  justify-content: flex-end;
  /* font-family:'luxi mono'; */
  /* font-family:'libertinus mono'; */
  /* font-weight:bolder; */
  
  /* font-family:'luxi', 'inter'; */
  letter-spacing: 1px;
  /* font-style: italic; */
  /* font-size: 1.4rem; */
  /* line-height: 1.4rem; */
  /* font-weight: bolder; */
}

nav div.title span {
  display: none;
}

nav div.name {
  justify-content: flex-start;
}


.float {
  position:fixed;
  top:32px;
  /* left:calc(75% + 2.5px); */
  right:0;
  width:25%;
  z-index: 9;
  padding:0 3px;
}

button {
  border:0;
  background:transparent;
  font-family: inherit;
  font-size: inherit;
  padding:0 auto;
  color:inherit;
  cursor:pointer;
  /* display: block; */
}

button:hover {
  color:var(--bg);
  background:var(--color);
}

.grid-btn {
  text-transform: uppercase;
  top:-2px;
  right:10px;
  position:absolute;
  width:20px;
  font-weight:bolder;
}

.grid-btn::after {
  content:'-';
}

.grid-btn.active::after {
  content:'+';
}

.ls {
  width:10%;
  display:none;
}

footer {
  display: flex;
  gap:10px;
  /* position: fixed; */
  bottom:0;
  top:auto;
  padding:10px;
  width:100%;
  height:60px;
}

footer div {
  width:25%;
  position: relative;
  display: flex;
  align-items: flex-start;
  /* align-items: flex-end; */
}

a {
  color:var(--text);
}

a:hover {
  background:var(--color);
  color:var(--bg);
}

nav a {
  text-decoration: none;
}

a.active {
  /* background:var(--color); */
  /* color:var(--bg); */
  text-decoration: underline;
}


summary {
  cursor: pointer;
  display: inline;
}

summary::selection {
  background: transparent;
  color: var(--color);
}

summary::after {
  content:' ▸';
}

details summary::-webkit-details-marker {
  display:none;
}

details[open] summary::after {
  content:' ▾';
}

details ul {
  padding:0;
  list-style: none;
  margin-top:10px;
  padding-right:15px;
}

details ul li {
  margin-bottom:.3rem;
}

.fn {
  font-size: 75%;
  /* background:lightblue; */
  display: inline-block;
  position:relative;
  bottom:3px;
  left:-3px;
  top: auto;
  right: auto;
  font-weight: normal;
  width:auto;

  /* background: var(--color);
  color: var(--bg); */
  text-decoration: underline;
  /* border-bottom:1px solid; */
}

/* .fn.active {
  background: var(--color);
  color: var(--bg);
} */

.fnc {
  width:100%;
  /* background:lightblue; */
  /* border-top:1px solid; */
  /* border-bottom:1px solid; */
  padding:1rem 0 0.5rem 0;
  font-size: 80%;
  line-height: 140%;
  margin:.5rem 0;
  display:none;
  /* position: relative; */
  /* transform: translateX(calc(50% + 5px)); */
  /* z-index: -1; */
  text-indent: -23px;
  /* font-family: 'libertinus', 'inter', sans-serif; */
  /* opacity:.8; */
  position: static;

  padding-left: calc(50% + 5px);

}

.fnc span {
  /* background:lightblue; */
  display: inline-block;
  position: relative;
  font-family: 'libertinus', 'inter', sans-serif;
  /* padding: 0 5px; */
  top: -1px;
  /* font-size: 80%; */
  left:-7px;
  width:20px;
  font-size: 90%;
  text-align: right;
}

.fnc.active {
  display:inline-block;
}

.fig {
  font-size: 80%;
  display:inline-block;
}

.mobile-nav {
  display:none;
}


@media screen and (min-width:1650px) {
  section {
    padding: 0 210px;
    /* padding-top:calc(33.33333vh - 91px); */
    padding-bottom:50px;
  }

  section.gallery {
    padding-right: calc(25% + 107px);
  }

  section.gallery div .gallery-caption {
    right: calc(200px + 10px);
    width: calc(25% - 113px);
  }

  .lightbox-nav {
    right: calc(200px + 10px);
    width: calc(25% - 113px);
  }

  section.gallery div.active {
    padding-right: calc(25% + 107px);
    padding-left: 210px;
  }
  
  nav {
    padding: 10px 210px;
  }

  .float {
    left:calc(75% - 100px);
    width:calc(25% - 100px);
  }

  .ls {
    width:200px;
    display:table-cell;
  }
}

@media screen and (max-width:900px) {
  .spacer {
    display: none;
  }

  nav div {
    width:50%;
  }
  
  nav div.title {
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left:10.1%;
  }
  

  nav div.mobile-nav {
    display: block;
    position: absolute;
  }

  .mobile-btn {
    top:9px;
    right:10px;
    position: fixed;
    background:var(--bg);
    padding:5px 10px;
    font-size: 1.5rem;
    height:41px;
    width:40px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-btn.active span {
    transform:rotate(45deg);
    display: inline-block;
  }

  .mobile-overlay {
    position: fixed;
    top:0;
    left:0;
    /* width:calc(50% - 15px); */
    display: none;
    z-index: 999;
    /* background:rgba(255, 0, 0, 0.465); */
    height:100vh;
    width:100vw;
    font-size: 1rem;
    line-height: 1.6rem;
  }

  .mobile-overlay.active {
    display:block;
  }

  .mobile-overlay ul {
    padding: 0;
    list-style: none;
    margin-top: 60px;
    padding-right: 90px;
    padding-left: 90px;
    /* background: white; */
    /* width:calc(50% - 5px); */
    display:flex;
    flex-wrap:wrap;
    gap:10px;
  }

  .mobile-overlay ul li {
    /* margin-bottom: .5rem; */
    width:calc(50% - 5px);
    /* background:rgba(144, 238, 144, 0.404); */
    
    height:calc(33.3333vh - 47px);
    display:flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    padding:10px;
  }

  .grid-btn {
    position: static;
    font-size: 110%;
  }

  .float {
    width:calc(50% - 15px);
    right:10px;
    padding:0;
    background:var(--bg);  
    top: 10px;
    height: 40px;

    display:none;
  }

  .ms {
    /* display:none; */
    width:10%;
  }
  
  section.text .links {
    padding-left:calc(50% + 5px);
    /* background:red; */
  }

  section.text p, section.text div {
    width: 100%;
    padding: 0 10%;
  }

  section.text p.full, section.text div.full {
    width: 100%;
    padding: 0 10%;
  }

  .caption.full-c {
    padding:0;
  }



  .fnc {
    border-top:1px solid;
    border-bottom:1px solid;
    padding:1rem 2rem;
    position: static;
    text-indent: -4px;
  
  }
  
  .fnc span {
    left: -13px;
    width: 0;
  }


  section.gallery div {
    width: calc(50% - 5px);
  }

  section.gallery {
    padding: 0 calc(10% + 8px);
    padding-bottom: 50px;
  }
  
  section.gallery div .gallery-caption {
    left: calc(10% + 8px);
    width: calc(80% - 16px);
    bottom:10px;
    height:40px;
  }

  section.gallery div.active {
    padding: 0 calc(10% + 8px);
  }

  section.hide {
    opacity:0;
  }

  #prev {
    position: fixed;
    left: 10px;
    /* background: red; */
    bottom: calc(33.3333% + 23px);
    height: calc(33.3333% - 46px);
    width: calc(10% - 12px);
  }

  #prev::after {
    content:'<';
  }

  #next {
    position: fixed;
    right: 10px;
    /* background: red; */
    bottom: calc(33.3333% + 23px);
    height: calc(33.3333% - 46px);
    width: calc(10% - 12px);
  }

  #next::after {
    content:'>';
  }

  .lightbox-nav span {
    display: none;
  }


}

@media screen and (max-width:600px) {
  body {
    /* background:red; */
  }

  nav div {
    width:50%;
    font-size: 80%;
  }
  
  nav div.title {
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left:0;
  }

  nav div.title span {
    display: block;
    width:100%;
  }

  nav div.name {
    display:none;
  }

  .mobile-overlay ul {
    padding-left:10px;
    padding-right:10px;
  }

  .ms {
    display:none;
    width:10%;
  }

  section.text p, section.text div {
    padding: 0 0;
  }

  section.text p.full, section.text div.full {
    padding: 0 0;
  }

  section.gallery div {
    width: calc(50% - 5px);
  }

  section.gallery {
    padding: 0 10px 50px 10px;
    /* padding-right:10px; */
  }
  
  section.gallery div .gallery-caption {
    left:  10px;
    width: calc(100% - 20px);
    bottom:10px;
    height:40px;
  }

  section.gallery div.active {
    padding: 0 10px;
  }

  #prev {
    bottom: 10px;
    height: 39px;
    width: calc(50% - 15px);
  }

  #next {
    bottom: 10px;
    height: 39px;
    width: calc(50% - 15px);
  }

  section.gallery div.active .gallery-caption {
    display: none;
  }
}
